@model PKBL.Domain.Entities.Master.M_JenisKreditKemitraan

@{
    ViewData["Title"] = "Detail Master Jenis Kredit Kemitraan";
}
<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <div class='x_panel'>
            <div class='x_title no-padding'>
                <h2>@ViewData["Title"]</h2>
                <div class='nav navbar-right panel_toolbox'>
                    <a asp-action='Index' class='btn btn-sm btn-link'>Back to List</a>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <br />
                <div class='form-label-left'>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.IdJenisProgram)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.IdJenisProgram)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Description)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ModifiedBy)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ModifiedBy)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ModifiedDate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ModifiedDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='offset-md-3 col-md-9 col-sm-9'>
                                    <a asp-action='Edit' asp-route-id='@Model.Id' class='btn btn-secondary'>Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>