@model PKBL.Domain.Entities.Master.M_Mitra
@{
    ViewData["Title"] = "Delete Master Mitra";
}
<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <div class='x_panel'>
            <div class='x_title no-padding'>
                <h2>@ViewData["Title"]<small>Are you sure you want to delete this?</small></h2>
                <div class='nav navbar-right panel_toolbox'>
                    <a asp-action='Index' class='btn btn-sm btn-link'>Back to List</a>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <br />
                <div class='form-label-left'>
                    <div class='row'>
                        <div class='col-md-6'>

                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.RequestorAddress)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.RequestorAddress)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.AddressDistrict)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.AddressDistrict)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.HomeOwnershipId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.HomeOwnershipId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.RequestorPhone1)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.RequestorPhone1)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.RequestorPhone2)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.RequestorPhone2)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.RequestorMail)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.RequestorMail)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.MaritalStatusId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.MaritalStatusId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.EducationLevelId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.EducationLevelId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CompanyDataId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CompanyDataId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Family_Relative_ID)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Family_Relative_ID)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Other_Relative_ID)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Other_Relative_ID)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Car_Mortage_ID)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Car_Mortage_ID)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Motorcycle_Mortage_ID)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Motorcycle_Mortage_ID)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Other_Mortage_ID)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Other_Mortage_ID)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.MortageRemarks)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.MortageRemarks)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Administrative_Id)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Administrative_Id)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Production_Activity_Id1)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Production_Activity_Id1)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Production_Activity_Id2)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Production_Activity_Id2)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Production_Activity_Id3)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Production_Activity_Id3)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Production_Activity_Id4)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Production_Activity_Id4)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.IsProductHandMade)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.IsProductHandMade)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.IsMachineMade)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.IsMachineMade)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool1)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool1)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool1_count)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool1_count)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool2)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool2)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool2_count)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool2_count)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool3)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool3)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool3_count)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool3_count)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool4)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool4)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Owned_Tool4_count)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Owned_Tool4_count)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Service_Provided)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Service_Provided)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Marketing)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Marketing)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.IsLocalMarket)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.IsLocalMarket)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.IsExport)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.IsExport)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Checklist_Id)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Checklist_Id)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.UploadedFile)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.UploadedFile)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.InventoryUpdateId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.InventoryUpdateId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.MGRNoProposal)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.MGRNoProposal)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.TglBermasalah)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.TglBermasalah)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ModifiedBy)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ModifiedBy)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ModifiedDate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ModifiedDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='offset-md-3 col-md-9 col-sm-9'>
                                    <form asp-action='Delete'>
                                        <input type='hidden' asp-for='Id' />
                                        <input type='submit' value='Delete' class='btn btn-danger' />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
