@model PKBL.Domain.Entities.Master.M_Mitra
@{
    ViewData["Title"] = "Detail Master Mitra";
}
<div>
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestorAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestorAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddressDistrict)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddressDistrict)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeOwnershipId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeOwnershipId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestorPhone1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestorPhone1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestorPhone2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestorPhone2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequestorMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestorMail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationLevelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationLevelId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDataId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyDataId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Family_Relative_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Family_Relative_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Other_Relative_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Other_Relative_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car_Mortage_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car_Mortage_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle_Mortage_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle_Mortage_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Other_Mortage_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Other_Mortage_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MortageRemarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MortageRemarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrative_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Administrative_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Activity_Id1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Production_Activity_Id1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Activity_Id2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Production_Activity_Id2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Activity_Id3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Production_Activity_Id3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Production_Activity_Id4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Production_Activity_Id4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsProductHandMade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsProductHandMade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsMachineMade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsMachineMade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool1_count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool1_count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool2_count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool2_count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool3_count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool3_count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owned_Tool4_count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owned_Tool4_count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Service_Provided)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Service_Provided)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marketing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marketing)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsLocalMarket)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsLocalMarket)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsExport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsExport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Checklist_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checklist_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedFile)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UploadedFile)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryUpdateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InventoryUpdateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MGRNoProposal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MGRNoProposal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TglBermasalah)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TglBermasalah)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>