@model PKBL.Domain.Entities.Master.M_RefDataUsahaMitra

@{
    ViewData["Title"] = "Delete Ref Data Usaha Mitra";
}
<div class='row'>
    <div class='col-md-12 col-sm-12'>
        <div class='x_panel'>
            <div class='x_title no-padding'>
                <h2>@ViewData["Title"]<small>Are you sure you want to delete this?</small></h2>
                <div class='nav navbar-right panel_toolbox'>
                    <a asp-action='Index' class='btn btn-sm btn-link'>Back to List</a>
                </div>
                <div class='clearfix'></div>
            </div>
            <div class='x_content'>
                <br />
                <div class='form-label-left'>
                    <div class='row'>
                        <div class='col-md-6'>

                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CompSectorDetail)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CompSectorDetail)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CompName)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CompName)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CompCEO)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CompCEO)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Address)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Address)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CityId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CityId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.PostalCode)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.PostalCode)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Phone1)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Phone1)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Phone2)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Phone2)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Fax)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Fax)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Email)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Email)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.OwnWorkPlace)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.OwnWorkPlace)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.WorkPlace_Enddate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.WorkPlace_Enddate)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ActiveSince)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ActiveSince)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Workforce)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Workforce)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.WorkingCapital)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.WorkingCapital)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.Investment)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.Investment)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.MonthlyRevenue)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.MonthlyRevenue)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CompanyUnit)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CompanyUnit)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.HasJournalAdmin)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.HasJournalAdmin)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.JournalAdministration)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.JournalAdministration)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.HasOtherLoan)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.HasOtherLoan)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.OtherLoanAt)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.OtherLoanAt)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.OtherLoanAmt)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.OtherLoanAmt)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.MitraId)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.MitraId)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.MGRProposalNo)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.MGRProposalNo)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ModifiedBy)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ModifiedBy)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.CreatedDate)
                                </div>
                            </div>
                            <div class='form-group row'>
                                <div class='col-form-label col-md-3 col-sm-3'>
                                    @Html.DisplayNameFor(model => model.ModifiedDate)
                                </div>
                                <div class='col-form-label col-md-9 col-sm-9'>
                                    @Html.DisplayFor(model => model.ModifiedDate)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='ln_solid'></div>
                    <div class='row'>
                        <div class='col-md-6'>
                            <div class='form-group row'>
                                <div class='offset-md-3 col-md-9 col-sm-9'>
                                    <form asp-action='Delete'>
                                        <input type='hidden' asp-for='Id' />
                                        <input type='submit' value='Delete' class='btn btn-danger' />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
